@model KGCBank.Models.LoginModel

@{
    ViewBag.Title = "DeleteAdmin";
    Layout = "~/Views/_LayoutPage2.cshtml";
}
@if (Session["Username"] != null)
{
    <div class="content">
        <div class="lists">
            <h2>DeleteAdmin</h2>

            <h3>Are you sure you want to delete this?</h3>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Username)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    Response.Redirect("Index");
}
<script src="~/Content/Javascript/script-preventback.js"></script>