@model IEnumerable<KGCBank.Models.RegisterModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/_LayoutPage2.cshtml";
}
<link href="~/Content/AccountList.css" rel="stylesheet" />

@if (Session["Username"] != null)
{
    <div class="content">
        <div class="lists">
            <h2>Customer details</h2>
            @Html.Raw(TempData["InsertMsg"])
            @Html.Raw(TempData["UpdateMsg"])
            @Html.Raw(TempData["DeleteMsg"])
            @Html.Raw(TempData["DeleteErrorMsg"])
            <div style="overflow-x: auto;">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Firstname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Lastname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Dateofbirth)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phonenumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.State)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pincode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Firstname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lastname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dateofbirth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phonenumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.State)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pincode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure to delete this record?');" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}
else
{
    Response.Redirect("Index");
}
<script src="~/Content/Javascript/script-preventback.js"></script>

